*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
	background-color: white;
	margin: 0;
	font-family: "Nunito", sans-serif;
	font-size: 1.3rem;
}

/* Mise en page (positionnement)
========================================================================== */

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */
.diviser-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header{
	background-color: #333;
}

.liens{
	text-decoration: none;
	color: white;
}

nav li{
	display: inline-block;
	padding: 10px;
	font-size: 1.5rem;
}

.fond-noir{
	background-color: #333;
	padding: 20px;
}

.tel{
	background-color: white;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #333;
}

footer{
	text-align: center;
}
/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */
.grid-3-colonnes{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
}


.liste-img{
  padding: 10px;
}

.span-2x2{
	grid-column: span 2;
	grid-row: span 2;
	width: 100%;
}

.btn{
	background-color: #333;
	color: #fff;
	font-size: 1.3rem;
}
.btn:hover{
	background-color: black;
}

.flex-cote{
	display: flex;
	justify-content: space-between;
}

.cote-a-cote{
	display: inline;
}

.width-auto{
	width: auto;
}

.larg{
	width: 45%;
}
/* Formulaires
========================================================================== */

.margin-bas{
	margin-bottom: 30px;
}


label{
	display: block;
	margin-bottom: 10px;
}

input{
	background-color: #D3D3D3;
	padding: 10px 20px;
	width: 100%;
}


form{
	background-color: #A9A9A9;
	padding: 10px;
	margin: 5px;
	border: #333 solid 1px;
}

fieldset{
	border: none;
	padding: 30px;
}


/* Règles spécifiques aux pages
========================================================================== */