*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
	background-color: white;
	margin: 0;
	font-family: "Nunito", sans-serif;;
}

/* Mise en page (positionnement)
========================================================================== */

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */
.diviser-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header{
	background-color: #333;
}

.liens{
	text-decoration: none;
	color: white;
}

nav li{
	display: inline-block;
	padding: 10px;
	font-size: 1.5rem;
}

.fond-noir{
	background-color: #333;
	padding: 20px;
}

.tel{
	background-color: white;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #333;
}

footer{
	text-align: center;
}
/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */
.grid-photos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.grid-photos li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.liste-img{
  padding: 0;
  list-style-type: none;
}

.span-2x2{
	grid-column: span 2;
	grid-row: span 2;
}

.employe-4{
	grid-column: 4;
	grid-row: 4;
}

.employe-5{
	grid-column: 3;
	grid-row: 4;
}

/* Formulaires
========================================================================== */



/* Règles spécifiques aux pages
========================================================================== */