*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body{
	background-color: white;
	margin: 0;
}

/* Mise en page (positionnement)
========================================================================== */

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */
.diviser-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header{
	background-color: #333;
}

.liens{
	list-style: none;
	text-decoration: none;
	color: #333;
}

.fond-noir{
	background-color: #333;
}

.tel{
	background-color: white;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #333;
}

footer{
	text-align: center;
}
/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */



/* Formulaires
========================================================================== */



/* Règles spécifiques aux pages
========================================================================== */